#logo1{
    float: left;
    height: 90px;
    width: 150px;
    margin-top:-40px; 
    margin-left: 50px;
}
.navigation2{
    background-color:rgb(91, 89, 89);
    font-size: 25px;
    text-align: center;
    width: 1500px;
    height: 102px;
    position: fixed;
    margin-top: -7px;
}
#nav2{
    margin-top:40px;
    justify-content: center;
}
#Home{
    margin-top: -50px;
    color:rgb(184, 179, 179);
    text-decoration: none;
}
#Interest{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#Education{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#Gallary{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#contact{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#Reference{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
section{
    display: flex;
}
#Home:hover{
    color: blue;
    font-size: 30px;
}
#Interest:Hover{
    color: blue;
    font-size: 30px;
}
#Education:hover{
    color: blue;
    font-size: 30px;
}
#Gallary:hover{
    color: blue;
    font-size: 30px;
}
#contact:hover{
    color: blue;
    font-size: 30px;
}
#Reference:hover{
    color: blue;
    font-size: 30px;
}
#heading{
    background-color: #efd9d9e7;
    height: 150px;
    margin-top: 95px;
}
#header{
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-left: 150px;
    font-style: inherit;
}
#blog1{
    flex: 1;
    background-color:wheat ;
    height: 400px;
    margin-top: 
}
#heraldimg{
    height: 400px;
    width: 350px;
    margin: 0px 50px 50px 50px;
}
#blog1text{
    flex: 1;
}
.blog1textedit{
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    margin: 30px 15px 0px 15px;
}
.blog1textedit:hover{
    font-weight: bold;
    color: black;
    font-size: 45px;
}
#blog2{
    flex: 1;
    background-color: wheat;
    height: 400px;
    margin: 0px 0px 0px 15px;
}
#mindmappingoneimg{
    height: 400px;
    width: 350px;
    margin: 0px 50px 50px 50px;
}
#blog2text{
    flex: 1;
}
.blog2textedit{
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    margin: 30px 15px 0px 15px;
}
.blog2textedit:hover{
    font-weight: bold;
    color: black;
    font-size: 45px;
}
#blog3{
    flex: 1;
    background-color: wheat;
    height: 400px;
    margin: 0px 0px 0px 15px;
}
#mindmappindtwoimg{
    height: 400px;
    width: 350px;
    margin: 0px 50px 50px 50px;
}
#blog3text{
    flex: 1;
}
.blog3textedit{
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    margin: 30px 15px 0px 15px;
}
.blog3textedit:hover{
    font-weight: bold;
    color: black;
    font-size: 45px;
}
#bargraph{
    flex: 3;
    background-color: wheat;
    height: 600px;
    margin-top: 100px;
}
#bargraphedit{
    height: 550px;
    width: 700px;
    margin-left: 100px;
    margin-top: 20px;
}
#bargraphexplain{
    flex: 1.7;
    background-color:#efd9d9e7;
    height: 600px;
    margin-top: 100px;
}
#bargraphtext{
    text-align: justify;
    font-size: 25px;
    font-weight: 300;
    margin: 50px 50px 0px 50px;
    font-style: oblique;
}
body{
    background-color: #efd9d9e7;
}
.footone{
    background-color: rgb(91, 89, 89);
    flex: 3;
    height: 250px;
}
#last2{
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 50px;
}
#facebook{
    margin-top: -130px;
    height: 80px;
    width: 100px;
    margin-left: 350px;
}
#youtube{
    margin-top: -150px;
    height: 80px;
    width: 80px;
    margin-left: 70px;

}
#linkedin{
    margin-top: -100px;
    height: 100px;
    width: 100px;
    margin-left: 70px;
}
.fotedit{
    margin-top: -60px;
    justify-content: center;
}