#logo1{
    float: left;
    height: 90px;
    width: 300px;
    margin-top:-40px; 
    margin-left: 50px;
}
.navigation2{
    background-color:rgb(91, 89, 89);
    font-size: 25px;
    text-align: center;
    width: 1500px;
    height: 100px;
}
#nav3{
    margin-top:40px;
    justify-content: center;
}
#Home{
    margin-top: -50px;
    color:rgb(184, 179, 179);
}
#Interest{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
}
#Hobbies{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
}
#Education{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
}
#Gallary{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
}
#contact{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
}
section{
    display: flex;
}
#Home:hover{
    color: blue;
}
#Interest:Hover{
    color: blue;
}
#Hobbies:hover{
    color: blue;

}
#Education:hover{
    color: blue;
}
#Gallary:hover{
    color: blue;
}
#textthree{
    flex: 3;
    height: 600px;
    background-color: aquamarine;
}
#ImageOne{
    flex: 2;
    height: 600px;
    background-color: blueviolet;
}
.Imageone{
    height: 600px;
    width: 600px;
}
section{
    display: flex;
}