section{
    display: flex;
}
#logo1{
    float: left;
    height: 90px;
    width: 150px;
    margin-top:-40px; 
    margin-left: 50px;
}
.navigation{
    background-color:rgb(91, 89, 89);
    font-size: 25px;
    text-align: center;
    width: 1500px;
    height: 105px;
    position: fixed;
    margin-top: -7px;
}
#nav2{
    margin-top:40px;
    justify-content: center;
}
#Home{
    margin-top: -50px;
    color:rgb(184, 179, 179);
    text-decoration: none;
}
#Interest{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#Education{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#Gallary{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#contact{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
#Reference{
    margin-top: -50px;
    margin-left: 70px;
    color: rgb(184, 179, 179);
    text-decoration: none;
}
section{
    display: flex;
}
#Home:hover{
    color: gold;
    font-size: 30px;
}
#Interest:Hover{
    color: gold;
    font-size: 30px;
}
#Education:hover{
    color: gold;
    font-size: 30px;
}
#Gallary:hover{
    color: gold;
    font-size: 30px;
}
#contact:hover{
    color: gold;
    font-size: 30px;
}
#Reference:hover{
    color: gold;
    font-size: 30px;
}
#textthree{
    flex: 3;
    height: 700px;
    margin-top: 100px;
    background-color:wheat;
    margin-left: 100px;
}
#ImageOne{
    flex: 2;
    height: 700px;
    margin-top: 100px;
    margin-right: 100px;
}
.Imageone{
    height: 700px;
    width: 600px;
}
header{
    text-align: justify;
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 70px;
    color: black;
}
#abouttext1{
    font-size: 25px;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 50px;
    color:brown;
    text-align: justify;
    font-style: oblique;

}
#abouttext1:hover{
    font-size: 35px;
}
#textfour{
    background-color:wheat;
    flex: 1;
    height: 600px;
    margin-left: 100px;

}
.four{
    margin-left: 100px;
    font-size: 50px;
    font-variant:small-caps;
    text-align: justify;

}
#blog1{
    flex: 1;
    height: 600px;
    background-color: wheat;
    margin-right: 100px;
}
#blogtext{
    margin-left: 100px;
    margin-right: 50px;
    font-size: 20px;
    text-align: justify;
    font-style: oblique;
    color: brown;
}
.footone{
    background-color: rgb(91, 89, 89);
    flex: 3;
    height: 250px;
}
#last2{
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 50px;
}
#facebook{
    margin-top: -130px;
    height: 80px;
    width: 100px;
    margin-left: 350px;
}
#youtube{
    margin-top: -150px;
    height: 80px;
    width: 80px;
    margin-left: 70px;

}
#linkedin{
    margin-top: -100px;
    hecolor: gold;
    width: 100px;
    margin-left: 70px;
}
.fotedit{
    margin-top: -60px;
    justify-content: center;
}
/*Mobile*/
@media screen and (max-width: 480px) {
    .navigation{
        background-color: black;
        color: white;
    }
    header{
        background-color: white;
        color: black;
    }
    #textthree{
        background-color: white;
        color: black;
    }
    #blogtext{
        background-color: white;
        color: black;
    }
    #textfour{
        background-color: white;
        color: black;
    }
    h1{
        background-color: white;
        color: black;
    }
}
body{
    background-color:cornsilk;
}