#logo1{
    float: left;
    height: 90px;
    width: 300px;
    background-color: bisque;
    margin-top:-40px; 
    margin-left: 50px;
}
.navigation{
    background-color:bisque;
    font-size: 25px;
    text-align: center;
    width: 1500px;
    height: 100px;
}
#nav2{
    margin-top:40px;
    justify-content: center;
}
#Home{
    margin-top: -50px;
    color: red;
}
#Interest{
    margin-top: -50px;
    margin-left: 70px;
    color: red;
}
#Hobbies{
    margin-top: -50px;
    margin-left: 70px;
    color: red;
}
#Education{
    margin-top: -50px;
    margin-left: 70px;
    color: red;
}
#Gallary{
    margin-top: -50px;
    margin-left: 70px;
    color: red;
}
#contact{
    margin-top: -50px;
    margin-left: 70px;
    color: red;
}
section{
    display: flex;
}
#Home:hover{
    color: black;
}
#Interest:Hover{
    color:black
}
#Hobbies:hover{
    color:black
}
#Education:hover{
    color:black
}
#Gallary:hover{
    color:black
}
#contact:hover{
    color: black;
}